body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: Merriweather, serif;
}

.top-container {
  background-color: #b6fcf5;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: #90fda7;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: #e6ff8c;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 300px;
}

#header {
  margin-top: 0;
  line-height: 2;
}

h1 {
  font-family: Sacramento;
  font-size: 562.5%;
  color: #66BFBF;
  margin-bottom: 0;
}

h2 {
  font-family: Montserrat;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: Montserrat;
  color: #11999E;
}

#me {
  width: 300px;
  border-radius: 50%;
}

.about {
  text-align: center;
  position:relative;
}

.skills {
  position: relative;
}

.dot {
  border-style: dotted;
  border-top: none;
  border-width: 10px;
  width: 75px;
  margin: 100px auto;
}
.default {
  font-size: 25px;
  font-family: Montserrat;
}

.contact-me {
  padding-bottom: 30px;
}

a {
  color: #11999E;
}

#programmer {
  margin-top: 0;
  line-height: 4;
}

.skill-row {

  width: 50%;
  margin: auto auto;
}
